// _variables.scss
// =================

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

$darkGreenGold : #8B9975;
$lightGreen    : #8B9975;
$grey        : #5B5B5C;

//gallery
$ig-screen-sm-min: 768px;
$ig-white: #fff;
$ig-black: #222;
$ig-blue: #8B9975;
//fonts
$headFont : 'Roboto', sans-serif;
$bodyFont : 'OpenSans-Light', serif;

